{% extends "account/base.html" %}

{% block title %}Password Reset Done{% endblock %}

{% block content %}

<!-- adapted from login component: https://tailwindcomponents.com/component/native-and-social-login-form -->
<div class="password_reset bg-white shadow-xl mb-4 flex flex-wrap justify-center">
    <div class="w-full md:w-full bg-indigo-500 p-6 text-white">
        <p class="mb-1 text-3xl flex items-center">
            Password Reset Email Sent
        </p>
    </div>
</div>

{% endblock %}
<!-- component -->